BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:2000

PORT=2000
ENVIRONMENT="local"
DEV_MODE="true"

DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_KEEP_ALIVE=

GITHUB_API_VERSION='2026-03-10'
GITHUB_DEV_AUTH_TOKEN=
GITHUB_CLIENT_ID=
GITHUB_SECRET=